
<br><br><br>
<div class="d-flex justify-content-center">
<button routerLink="/filtering" class="btn2">Filter</button>   &nbsp;&nbsp;&nbsp;
<button routerLink="/of" class="btn2">Of</button>    &nbsp;&nbsp;&nbsp;
<button routerLink="/map" class="btn2">Map</button>  &nbsp;&nbsp;&nbsp;
<button routerLink="/pipe" class="btn2">Pipe</button>    &nbsp;&nbsp;&nbsp;
<button routerLink="/take" class="btn2">Take</button>     &nbsp;&nbsp;&nbsp;
<button routerLink="/zip" class="btn2">Zip</button>       &nbsp;&nbsp;&nbsp;
<button routerLink="/pluck" class="btn2">Pluck</button>    &nbsp;&nbsp;&nbsp;
<button routerLink="/first" class="btn2">First</button>     &nbsp;&nbsp;&nbsp;
<button routerLink="/take-until" class="btn2">take-until</button>     &nbsp;&nbsp;&nbsp;
<button routerLink="/tap" class="btn2">tap</button>          &nbsp;&nbsp;&nbsp;
<button routerLink="/merge" class="btn2">merge</button>        &nbsp;&nbsp;&nbsp;
<button routerLink="/combineletest" class="btn2"> CombineLetest</button>        &nbsp;&nbsp;&nbsp;
<button routerLink="/fromEvent" class="btn2"> FromEvent</button>        &nbsp;&nbsp;&nbsp;
<button routerLink="/concat" class="btn2"> Concat</button>        &nbsp;&nbsp;&nbsp;
<button routerLink="/catcherror" class="btn2"> CatchError</button>        &nbsp;&nbsp;&nbsp;


</div>




<router-outlet></router-outlet>