/* You can add global styles to this file, and also import other style files */
.btn2
{
    background-color: rgb(19, 124, 216);
    color: white;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    font-weight: bold;
} 